<nav id="peoplenav" class="showfollow">
	<h5>Change Student</h5>
	<%= link_to image_tag("/images/general/back.png", :alt => "Previous Person", :title => "Previous Person"), "/people/#{@previous.id}", :class => "prevnext icon_link" %>
	<%= link_to image_tag("/images/general/forward.png", :alt => "Next Person", :title => "Next Person"), "/people/#{@next.id}", :class => "prevnext icon_link" %>
</nav>
<div id="person_info">
	<h2 id="person_name"><%= @person.fname.html_safe %><br /><%= @person.lname.html_safe %></h2>
		<%= image_tag("https://s3.amazonaws.com/uwdesign2011/images/content/people/profiles/Profile_#{@person.fname.html_safe + @person.lname.html_safe}.jpg", :mouseover => "https://s3.amazonaws.com/uwdesign2011/images/content/people/rollover/Profile_#{@person.fname.html_safe + @person.lname.html_safe}_2.jpg", :alt => @person.lname.html_safe, :width => "130px", :class => "person_image" )%>
	
	<% if @person.contact.include?("@") %>
		<% jtext = "Contact Info" %>
		<% jlink = "mailto:" + @person.contact.html_safe %>
	<% elsif @person.contact.include?("http://") %>
		<% jtext = "Portfolio" %>
		<% jlink = @person.contact.html_safe %>
	<% else %>
		<% jtext = "Portfolio" %>
		<% jlink = "http://" + @person.contact.html_safe %>
	<% end %>
	<p class="person_contact"><%= link_to jtext, jlink %></p>
	
	<nav class="person_projects">
		<ul>
		<% @person.projects.each do |project| %>
		
		<% if project.isCapstone != 1 %>
		<a href='/#<%= project.name.downcase.gsub(/ /,'_').gsub(/:/,'').gsub(/#/,'').gsub(/;/,'').gsub(/&/,'').gsub(/,/,'') %>' class="scroll">
			<li><% if project.nav_name.nil? %>
				<%= project.name.html_safe %>
				
			<% else %>
				<%= project.nav_name.gsub(/,/,"<br />").html_safe %>
				
			<% end %>
			</li></a>
		<% end %>
		<% end %>

		</ul>
	</nav>
</div> <!-- end #person_info -->




