<div id="everyone" class="major"><h2 class="section_header">Everyone</h2>
	<%= render @people %>
	<div class="clear"></div>
</div> <!-- end #all -->

<div id="design_studies" class="major"><h2 class="section_header">Design Studies</h2>
	<% @ds.each do |person| %>
		<%= render person %>
	<% end %>
	<div class="clear"></div>
</div> <!-- end #design_studies -->
<div id="industrial_design" class="major"><h2 class="section_header">Industrial Design</h2>
	<% @id.each do |person| %>
		<%= render person %>
	<% end %>
	<div class="clear"></div>
</div> <!-- end industrial_design -->
<div id="master_of_fine_arts" class="major"><h2 class="section_header">Master of Fine Arts</h2>
	<% @mfa.each do |person| %>
		<%= render person %>
	<% end %>
	<div class="clear"></div>
</div> <!-- end #master_of_fine_arts -->
<div id="visual_communication_design" class="major"><h2 class="section_header">Visual Communication Design</h2>
	<% @vcd.each do |person| %>
		<%= render person %>
	<% end %>
	<div class="clear"></div>
</div> <!-- end #visual_communication_design -->
<div id="projects_end"></div>
<div class="clear"></div>