<div id="person_info">

	<h2 id="person_name"><%= @person.fname %> <br /><%= @person.lname %></h2>
	<div id="person_image">
		<%= image_tag("content/people/profiles/#{@person.image_url}", :width => "150px" )%>
	</div>
	<p id="person_contact"><%= link_to @person.contact, "http://" + @person.contact %></p>

</div> <!-- end #person_info -->

<p id="person_about"><%= @person.about %></p>
