<p id="person_about"><%= @person.about.html_safe %></p>

<% @person.projects.each do |project| %>
	<div id="<%= project.name.downcase.gsub(/ /,'_').gsub(/:/,'') %>" class="project">
		<h2><%= project.name %></h2>
		<p class="description"><%= project.description.html_safe %></p>
		
		
		<% if project.isGroup == 1 %>
		<% #find the group project that this project belongs to %>
		<% #pull the group project images %>
		
		<% end %>
		
		
		
		<% project.videos.each do |video| %>
		<div id="images">
			<iframe src="http://player.vimeo.com/video/<%= video.vimeonumber %>?byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="394" frameborder="0"></iframe>
		</div>
		<% end %>
		<div id="images">
		<% project.images.each do |image| %>
			<%= image_tag("https://s3.amazonaws.com/uwdesign2011/images/content/projects/large/#{image.image_url}", :alt => image.image_url )%>
		<% end %>
		</div>
		
		<div class="social">
			<iframe src="http://www.facebook.com/plugins/like.php?app_id=131157443624950&amp;href=http%3A%2F%2Fuwdesign2011.com%2Fpeople%2F<%= @person.id %>%23<%= project.name.downcase.gsub(/ /,'_') %>&amp;send=false&amp;layout=button_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:21px;" allowTransparency="true"></iframe>

			<a href="http://www.stumbleupon.com/submit?url=http%3A%2F%2Fuwdesign2011.com%2Fpeople%2F<%= @person.id %>%23<%= project.name.downcase.gsub(/ /,'_') %>&title=<%= project.name %>" ><img title="StumbleUpon : <%= project.name %> : http://uwdesign2011.com<%= person_path(@person, :anchor => project.name.downcase.gsub(/ /,'_')) %>" src="../images/general/stumble.gif" alt="Add to StumbleUpon" /></a>

			<a href="http://twitter.com/home?status=http%3A%2F%2Fuwdesign2011.com%2Fpeople%2F<%= @person.id %>%23<%= project.name.downcase.gsub(/ /,'_') %>" ><img title="Twitter : <%= project.name %> : http://uwdesign2011.com<%= person_path(@person, :anchor => project.name.downcase.gsub(/ /,'_')) %>" src="../images/general/twitter.gif" alt="Add to Twitter" /></a>
		</div>

		<h4 class="see_more">See more projects in:</h4>
		<ul>
			<% project.categories.each do |category| %>
			<li><%= link_to category.name + " Design", projects_path(:anchor => category.name.downcase) %></li>
			<% end %>
		</ul>
		<div class="clear"></div>
	</div> <!-- end #<%= project.name.downcase.gsub(/ /,'_') %> -->
<% end %>
<div id="projects_end"></div>
<div class="clear"></div>