<p id="person_about"><%= @person.about.html_safe %></p>

<% @person.projects.each do |project| %>
	<div id="<%= project.name.downcase.gsub(/ /,'_').gsub(/:/,'').gsub(/#/,'') %>" class="project">
		<h2 class="project_name"><%= project.name.html_safe %></h2>
		
		<% if project.isGroup == 1 %>
			<p class="alert group">Is group! Project ID: <%= project.group_projects.each do |p| p.group_project_id end %></p>
		<% else %>
			<p class="alert">Isn't group! Project ID: <%= project.id %></p>
		<% end %>
		
		<p class="project_text project_description"><%= project.description.html_safe %></p>
		
		<div class="media">
			<% project.videos.each do |video| %>
			<div class="video">
				<iframe src="http://player.vimeo.com/video/<%= video.vimeonumber %>?byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="394" frameborder="0"></iframe>
			</div> <!-- end .video -->
			<% end %>
			
			
		<% if project.isGroup == 1 %>
			<% project.group_projects.each do |d| %>
			
			<% d.images.each do |i| %>
				<%= image_tag("https://s3.amazonaws.com/uwdesign2011/images/content/projects/large/#{i.image_url}", :alt => i.image_url )%>
			<% end %>
				
			<p class="group_members">Collaborated with <%= d.people.count %>
			<% d.people.sort! { |a,b| a.lname.downcase <=> b.lname.downcase }.each_with_index do |p, i| %>
				<% if p.id != @person.id %>
				<%= link_to "#{p.fname} #{p.lname}", person_path(p.id)  %>
				
					<% if i < d.people.count - 1 %>
						<%= ', '%>
					<% end %>
				<% end %>
			<% end %>
			</p>
			<% end %>
		<% else %>
			<% project.images.each do |image| %>
				<%= image_tag("https://s3.amazonaws.com/uwdesign2011/images/content/projects/large/#{image.image_url}", :alt => image.image_url )%>
			<% end %>
		<% end %>
		</div> <!-- end .media -->

		<p class="see_more">See more projects in <% project.categories.each_with_index do |category, i| %><%= link_to category.name + " Design", projects_path(:anchor => category.name.downcase) %><% if i==0%><%= ', ' %><% else %><%= '.' %><% end %>
		<% end %></p>
		<div class="clear"></div>
	</div> <!-- end #<%= project.name.downcase.gsub(/ /,'_') %> -->
<% end %>
<div id="projects_end"></div>
<div class="clear"></div>