<div id="person_info">

	<h2 id="person_name"><%= @person.fname %> <br /><%= @person.lname %></h2>
	<div id="person_image">
		<%= image_tag("content/people/profiles/Profile_#{@person.lname}.jpg", :alt => @person.lname, :width => "150px" )%>
	</div>
	


</div> <!-- end #person_info -->

<p id="person_about"><%= @person.about %></p>

<% @person.projects.each do |project| %>
	<h2><%= project.name %></h2>
	<div id="images">
			<%= image_tag("content/projects/large/#{project.image_url}", :alt => project.image_url )%>
	</div>
<% end %>