<div id="all" class="main">
	<% @projects.each do |project| %>
	<div id="<%= project.name.downcase.gsub(/ /,'_') %>" class="group_project project">
		<h2 class="project_name"><%= project.name.html_safe %></h2>
		<p class="project_text project_description"><%= project.description.html_safe %></p>
		<div class="media">
			<% project.videos.each do |video| %>
			<div class="video">
				<iframe src="http://player.vimeo.com/video/<%= video.vimeonumber %>?byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="394" frameborder="0"></iframe>
			</div><!-- end video -->
			<% end %>
		
		
			<% project.images.each do |image| %>
				<%= image_tag("https://s3.amazonaws.com/uwdesign2011/images/content/projects/large/#{image.image_url.html_safe}", :alt => image.image_url )%>
			<% end %>
		</div> <!-- end .media -->
		
		<p class="group_members">Collaborated with <%= d.people.count %>
		<% d.people.sort! { |a,b| a.lname.downcase <=> b.lname.downcase }.each_with_index do |p, i| %>
			<% if p.id != @person.id %>
			<%= link_to "#{p.fname} #{p.lname}", person_path(p.id)  %>
			
				<% if i < d.people.count - 1 %>
					<%= ', '%>
				<% end %>
			<% end %>
		<% end %>
		</p>
		<p class="see_more">See more projects in <% project.categories.each_with_index do |category, i| %><%= link_to category.name + " Design", projects_path(:anchor => category.name.downcase) %><% if i==0%><%= ', ' %><% else %><%= '.' %><% end %>
		<% end %></p>
	</div>
	<% end %>
	
	<div class="clear"></div>
</div> <!-- end #all -->
<div id="projects_end"></div>
<div class="clear"></div>

