<div id="all" class="show_information">
	<div class="showfollow">
		<h5>FOLLOW US.</h5>
		<div class="icon_link"><a href="http://www.facebook.com/pages/UW-Design-Show-2011/210601918959933"><img src="../images/general/facebook.gif" alt="Follow Us on Facebook">Facebook</a></div>
		<div class="icon_link"><a href="http://www.twitter.com/uwdesign"><img src="../images/general/twitter.gif" alt="Follow Us on Twitter">Twitter</a></div>
	</div>
	
	<img src="../images/general/theshowBFA.gif" class="theshowtitles" alt="The Show">
	<br />
	
	<div class="showinfo">
		<img src="../images/general/arrows/arrow1.gif" class="arrow" alt="arrow"/>
		<h5 class="info">8–18 JUNE</h5>
		<p>School of Art</p>
		<p>University of Washington</p>
		<p>Jacob Lawrence Gallery</p>
		<p>Wednesday–Saturday, 12–4pm</p>
		<a href="http://maps.google.com/maps/place?cid=2406933350747492669&amp;q=Jacob+Lawrence+Gallery&amp;hl=en&amp;sll=47.649998,-122.309944&amp;sspn=0.020875,0.015256&amp;ie=UTF8&amp;ll=47.669665,-122.355251&amp;spn=0,0&amp;t=h&amp;z=14">See Map</a>
		<br />
		<br />
		<img src="../images/general/arrows/arrow2.gif" class="arrow" alt="arrow"/><h5 class="info">PROFESSIONAL NIGHT</h5>
		<p>Tuesday 7 June, 5–8pm</p>
		<a href="http://www.facebook.com/event.php?eid=165472096845465">RSVP on Facebook</a>
		<br />
		<br />
		<img src="../images/general/arrows/arrow3.gif" class="arrow" alt="arrow"/>
		<h5 class="info">FRIENDS AND FAMILY NIGHT</h5>
		<p>Wednesday 8 June, 5–8pm</p>
		<a href="http://www.facebook.com/event.php?eid=145161865555197">RSVP on Facebook</a>
	</div>	<!-- end .showinfo -->	
	<img src="../images/general/yellowline.gif" class="theshowline" alt="line-border">
	<br />
	<img src="../images/general/theshowMFA.gif" class="theshowtitles" alt="line-border">
</div> <!-- end #all_show_information -->
	
<div class="showinfo">
	<img src="../images/general/arrows/arrow4.gif" class="arrow" alt="arrow" /><h5 class="info">28 MAY–19 JUNE</h5>
	<p>Henry Art Gallery</p>
	<p>University of Washington</p>
	<p>Opening Reception : </p>
	<p>Friday 27 May, 7pm</p>
	<a href="http://maps.google.com/maps/place?cid=8125824423033647840&amp;q=henry+art+gallery&amp;hl=en&amp;sll=47.64876,-122.312564&amp;sspn=0.017905,0.020497&amp;ie=UTF8&amp;ll=47.658595,-122.33521&amp;spn=0,0&amp;t=h&amp;z=15">See Map</a>
	<br />
	<br />
	<img src="../images/general/arrows/arrow5.gif" class="arrow" alt="arrow"/>
	<h5 class="info">MFA THESIS PRESENTATIONS</h5>
	<p>Henry Art Gallery Tech Lounge</p>
	<p>Tuesday 2 June, 5-8pm</p>
	<br />
	<br />
	<img src="../images/general/arrows/arrow6.gif" class="arrow" alt="arrow"/>
	<h5 class="info">MFA SPECIAL PREVIEW</h5>
	<p>Friday 27 May, 7pm</p>
	<p>Early entry at 6:15pm;</p>
	<p>register at www.uwalum.com</p>
</div> <!-- end .showinfo -->

<img src="../images/general/yellowline.gif" class="theshowline" alt="line-border"/><br />
<img src="../images/general/theshowcredits.gif" class="theshowtitles" alt="show-credits" />

<div class="showinfo">
	<img src="../images/general/arrows/arrow7.gif" class="arrow" alt="arrow"/>
	
	<div class="column">
		<ul>
			<li class="title">IDENTITY</li>
			<li><%= link_to "Jessica Katona", people_path + "/25" %></li>
			<li><%= link_to "Brenna Marketello", people_path + "/32" %></li>
		</ul>
		<ul>
			<li class="title">ENVIRONMENTAL</li>
			<li><%= link_to "Abbey Carlstrom", people_path + "/5" %></li>
			<li><%= link_to "Derek Chan", people_path + "/7" %></li>
			<li><%= link_to "Andrea Drake", people_path + "/13" %></li>
			<li><%= link_to "Jessica Katona", people_path + "/25" %></li>
			<li><%= link_to "Brenna Marketello", people_path + "/32" %></li>
			<li><%= link_to "Nick Myette", people_path + "/37" %></li>
			<li><%= link_to "Brittany Truex", people_path + "/46" %></li>
		</ul>
		<ul>
			<li class="title">LOGISTICS & DATA</li>
			<li><%= link_to "Kelsey Cole", people_path + "/9" %></li>
			<li><%= link_to "Tony Tran", people_path + "/44" %></li>
			<li><%= link_to "Rachel Wan", people_path + "/48" %></li>
		</ul>
		<ul>
			<li class="title">MULTIMEDIA</li>
			<li><%= link_to "Ruth Arellano", people_path + "/2" %></li>
			<li><%= link_to "James Davidson", people_path + "/11" %></li>
			<li><%= link_to "Nicole Ramirez", people_path + "/39" %></li>
		</ul>
	</div> <!-- end .column -->
	
	<div class="column">
		<ul>
			<li class="title">WEBSITE</li>
			<li><%= link_to "Erica Coombs", people_path + "/10" %></li>
			<li><%= link_to "Leslie Ferguson", people_path + "/16" %></li>
			<li><%= link_to "Jeremy Juel", people_path + "/24" %></li>
			<li><%= link_to "Lola Migas", people_path + "/34" %></li>
			<li><%= link_to "Sophie Milton", people_path + "/35" %></li>
			<li><%= link_to "Sara Sheridan", people_path + "/42" %></li>
			<li><%= link_to "Carolyn Schuetz", people_path + "/40" %></li>
		</ul>
		<ul>
			<li class="title">PHOTOGRAPHY</li>
			<li><%= link_to "Erica Coombs", people_path + "/10" %></li>
		</ul>
		<ul>
			<li class="title">DESIGN DIVISION<br>REPRESENTATIVES</li>
			<li>DS: <%= link_to "Lauren Cascio", people_path + "/6" %></li>
			<li>ID: <%= link_to "Imri Larsen", people_path + "/29" %> & <%= link_to "Vu Chu", people_path + "/8" %></li>
			<li>VCD: <%= link_to "Nicole Ramirez", people_path + "/39" %> & <br><%= link_to "James Davidson", people_path + "/11" %></li>
			<li>MFA: <%= link_to "Shweta Grampurohit", people_path + "/18" %></li>
		</ul>
		<ul>
			<li class="title">ADVISOR</li>
			<li>Kristine Matthews</li>
		</ul>
	</div> <!-- end .column -->
	
</div> <!-- end .showinfo -->