<header>
	<div class="hack"></div>
	<%= link_to logo, projects_path %></h1>
	<nav id="main">
		<ul>
			<li><%= link_to "Work", projects_path, :id => "work" %></li>
			<li><%= link_to "People", people_path, :id => "people" %></li>
			<li><%= link_to "Show Info", show_information_path, :id => "show_info" %></li>
			<li><%= link_to "About UW Design", about_uw_design_path, :id => "about_uw_design" %></li>
		</ul>
	</nav>
	<nav id="subnav">
		<% if defined?(@sub_image).nil? %>
			<%= print "var is not defined\n" %>
		<% else %>
			<%= image_tag("general/#{@sub_image}.png", :alt => @sub_image ) %>
		<% end %>
		
		<% if defined?(@navs).nil? %>
			<%= print "var is not defined\n" %>
		<% else %>
			<ul>
				<li><a href='#all' class="scroll">All</a></li>
			
				<% @navs.each do |nav| %>
				<li><a href='/#<%= nav.name.downcase.gsub(/ /,'_') %>' class="scroll">
					<% if nav.nav_name.nil? %>
						<%= nav.name %>
						
					<% else %>
						<%= nav.nav_name.gsub(/,/,"<br />").html_safe %>
						
					<% end %>
				</a></li>
				<% end %>
			</ul>
		<% end %>
		
		<% if defined?(@navs2).nil? %>
			<%= print "var is not defined\n" %>
		<% else %>
			<ul id="third_nav">
				<li><%= link_to 'Group Projects', "/group_projects" %></li>
			</ul>
		<% end %>
		
	</nav><!-- end #categories -->
</header>