<header>
	<div class="hack"></div>
	<%= link_to logo, projects_path %>
	<nav id="main">
		<ul>
			<li><%= link_to "Work", projects_path, :id => "work" %></li>
			<li><%= link_to "People", people_path, :id => "people" %></li>
			<li><%= link_to "Show Info", show_information_path, :id => "show_info" %></li>
			<li><%= link_to "About UW Design", about_uw_design_path, :id => "about_uw_design" %></li>
		</ul>
	</nav> <!-- end #main -->
	<nav id="subnav">
		<% if defined?(@person).nil? %>
		<div class="side_img">
			<% if defined?(@sub_image).nil? %>
				<%= print "var is not defined\n" %>
			<% else %>
				<%= image_tag("general/#{@sub_image}.png", :alt => @sub_image ) %>
			<% end %>
		</div> <!-- end .side_img -->
		<% else %>
		<%= render 'people/info'%>
		<% end %>
		
		
		<% if defined?(@navs).nil? %>
			<%= print "var is not defined\n" %>
		<% else %>
			<ul>
				
				<% if defined?(@group) %>
				
					<% @navs.each do |nav| %>
					<a href='/people/<%= nav.id %>'>
						<li><%= nav.fname + ' ' + nav.lname %></li>
					</a>
					<% end %>
				
				<% else %>
				
					<% if defined?(@everyone) %>
					<a href='#everyone' class="scroll"><li>Everyone</li></a>
					<% else %>
					<a href='#all' class="scroll"><li>All</li></a>
					<% end %>
					
				<% @navs.each do |nav| %>
				<% if nav.name != "Packaging" && nav.name != "Web" %>
				<a href='/#<%= nav.name.downcase.gsub(/ /,'_').gsub(/:/,'').gsub(/#/,'').gsub(/;/,'').gsub(/&/,'').gsub(/,/,'') %>' class="scroll">
					<li><% if nav.nav_name.nil? %>
						<%= nav.name.html_safe %>
						
					<% else %>
						<%= nav.nav_name.gsub(/,/,"<br />").html_safe %>
						
					<% end %>
				</li></a>
				<% end %>
				<% end %>
				<% end %>
				
				
				
			</ul>
		<% end %>
		
	</nav><!-- end #subnav -->
</header>