<!DOCTYPE html>


<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  	<title><%= title %></title>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag :all %>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<%= render 'layouts/analytics' %>
		<%= csrf_meta_tag %>
		
		<style type="text/css">
			nav#main ul li a#<%= @active_nav %> {
				border-top: solid 5px;
				padding-top: 5px;
				border-color: black;
				font-weight:bold;
			}
		</style>
		
	</head>
	<body>
		<div id="container" class="yui3-widget yui3-scrollview yui3-scrollview-vert">
			<%= render 'layouts/header' %>
			<div id="content" class="yui3-scrollview-loading">
				
				<%= yield %>
				
				<div id="bottom">
					<div class='icon_link'>
					<% if defined?(@person) %>
					<a href='#person_about' class="scroll"><img src='/images/general/BackToTop.png' alt='Back To Top' />Back to Top</a>
					<% elsif defined?(@everyone) %>
					<a href='#everyone' class="scroll"><img src='/images/general/BackToTop.png' alt='Back To Top' />Back to Top</a>
					<% else %>
					<a href='#all' class="scroll"><img src='/images/general/BackToTop.png' alt='Back To Top' />Back to Top</a>
					<% end %>
					</div> <!-- end .icon_link -->
				</div> <!-- end #bottom -->
			</div> <!-- end #content -->
		</div> <!-- end #container -->
	</body>
	
	<% if is_mobile? %>
	<% end %>
</html>
