<!DOCTYPE html>


<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  	<title><%= title %></title>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag :all %>
		
		<script src="http://yui.yahooapis.com/3.3.0/build/yui/yui-min.js"
		    charset="utf-8"></script>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		
		<![endif]-->
		<%= render 'layouts/analytics' %>
		<%= csrf_meta_tag %>
		
		<style type="text/css">
			nav#main ul li a#<%= @active_nav %> {
				border-top: solid 5px;
				padding-top: 5px;
				border-color: black;
				font-weight:bold;
			}
		</style>
		
		<script type="text/javascript">
			// Create a new YUI instance and populate it with the required modules.
			YUI().use('scrollview', function (Y) {

			    var scrollview = new Y.ScrollView({
			        srcNode:"#content",
			        height:"100%"
			    });
				scrollview.render();
			});
			    
		</script>
		
	</head>
	<body>
		<div id="container" class="yui3-widget yui3-scrollview yui3-scrollview-vert">
			<%= render 'layouts/header' %>
			<div id="content" class="yui3-scrollview-content">
				
				<%= yield %>
				<div id="bottom">
					<a href='#all' class="scroll">Back to Top</a>
				</div> <!-- end #bottom -->
			</div> <!-- end #content -->
		</div> <!-- end #container -->
	</body>
</html>
