<!DOCTYPE html>


<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  	<title><%= title %></title>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag :all %>
		
		<script src="http://yui.yahooapis.com/3.3.0/build/yui/yui-min.js"
		    charset="utf-8"></script>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		
		<![endif]-->
		<%= render 'layouts/analytics' %>
		<%= csrf_meta_tag %>
		
		<style type="text/css">
			nav#main ul li a#<%= @active_nav %> {
				border-top: solid 5px;
				padding-top: 5px;
				border-color: black;
				font-weight:bold;
			}
		</style>
		
	</head>
	<body>
		<div id="container" class="yui3-widget yui3-scrollview yui3-scrollview-vert">
			<%= render 'layouts/header' %>
			<div id="content" class="yui3-scrollview-loading">
				
				<%= yield %>
				<div id="bottom">
					<a href='#all' class="scroll">Back to Top</a>
				</div> <!-- end #bottom -->
			</div> <!-- end #content -->
		</div> <!-- end #container -->
	</body>
	
	<script type="text/javascript">
		YUI().use('scrollview-base', function(Y) {

		    var scrollView = new Y.ScrollView({
		        id:"scrollview",
		        srcNode: '#content',
		        height: 1000,
		        flick: {
		            minDistance:10,
		            minVelocity:0.3,
		            axis: "y"
		        }
		    });

		    scrollView.render();
		})
	</script>
	
</html>
